.main {
  margin-top: var(--header-height);
  padding: 2rem;
  min-height: calc(100% - var(--header-height) - var(--footer-height));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}